/* -------------- caja contenedora*/
#slide-8{
    background: white
}

#slide-8 .box-container{
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#slide-8 h1{
    font-size: 10vw;
    color: black;
}
#slide-8 h2{
    font-size: 3vw;
    color: gray;
}

@media (max-width: 1000px) {
    #slide-8 h1{
        font-size: 4.5rem
    }
    #slide-8 h2{
        font-size: 3rem;
    }}

@media (max-width: 750px) {
    #slide-8 h1{
        font-size: 3rem
    }
    #slide-8 h2{
        display: none;
    }}

/* --------------- max size font */

@media (min-width: 1201px){
    #slide-8 h1{
        font-size: 9rem;
    }
    #slide-8 h2{
        font-size: 2.5rem;
    }
}